.input_container{

  display: grid;
  grid-template-columns: 20% 50% 30%;
  margin-bottom: 1rem;
  
}

.error_Icon{

  align-content: center;
  align-items: center;
  margin: 2px;
}


.Tow_input_inLine{


  display: grid;
  grid-template-columns: 50% 50%;

}

.app_header{

  display: flex;
  height:50px;
  background-color: cornflowerblue;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;

}
.app_header_text{

  font-size: 20px;
  color: white;
}

.form_container{

  padding: 1px;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;

  background-color: whitesmoke;
}
.inner_form_container{
  margin: 6rem;
  /* margin-right: 6rem; */
  

}

.form_button{

  text-align: center;
}

.text_view{
  display: grid;
  grid-template-columns: 10% 90%;

  font-size: 2erm;
}

.text_view_label{

  color: cornflowerblue;
}

.divide_view{

  color: white;
}